@import '~normalize.css';
@import './fonts.scss';

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e7e7e7;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  margin-bottom: 20px;
  .title {
    text-align: center;
    margin: 10px auto;
  }

  .descr {
    text-align: center;
  }
}

.textarea {
  width: 100%;
  height: 200px;
  font-size: 22px;
  resize: none;
  border: 1px solid #333;
  padding: 5px 10px;
}

.keyboard {
  width: 100%;
  margin-top: 20px;
}
.row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.key {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 5px;
  margin: 2px;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  border: 1px solid #333;
  margin: 5px;

  &:hover {
    background-color: #303030;
  }
}

.hide {
  display: none;
}

.show {
  pointer-events: none;
}
