@import '~normalize.css';
@import './fonts.scss';

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e7e7e7;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.textarea {
  width: 100%;
  height: 200px;
  font-size: 22px;
  resize: none;
  border: 1px solid #333;
  padding: 5px 10px;
}

.keyboard {
  width: 100%;
  margin-top: 20px;

  .row {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.key {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  border: 1px solid #333;

  &:hover {
    color: #333;
    background-color: #fff;
  }

  &:active,
  &.active {
    border-radius: 50px;
    color: #333;
    background-color: #fff;
  }
}

.Backspace,
.CapsLock,
.Enter,
.ShiftLeft,
.ShiftRight {
  width: 110px;
}

.Space {
  width: 410px;
}

.hidden {
  display: none;
}
